$primary-color-bright-orange: hsl(31, 77%, 52%);
$primary-color-dark-cyan: hsl(184, 100%, 22%);
$primary-color-very-dark-cyan: hsl(179, 100%, 13%);

$neutral-color-transparent-white: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$neutral-color-very-light-gray: hsl(0, 0%, 95%); // (background, headings, buttons)

$font-size: 15px;

$font-primary: "Big Shoulders Display",sans-serif; //font weight 700
$font-neutral: "Lexend Deca",sans-serif; //font weight 400